<footer class="banner text-center">
  <div class="container p-2">
  <div class="row">
    <div class="col-lg-1">
    </div> <a href= https://uglibrary.uog.edu.gy/ >University of Guyana Library 2025</a>
    <div class="col-lg-1">      
    </div>  Built with <a href='https://github.com/UoG-Library-Digital-Collections/wax/'>UoG-Library-Digital-Collections/Wax</a>
    <div class="col-lg-1">
    </div> <a href="https://UoG-Library-Digital-Collections.github.io/wax/credits/" >Credits</a>
      <span><small>
    </div>
  </div>
</div>
</p>
</footer>